body { 
  font-family: Sans-Serif 
}

table, th, tr, td {
}

.breakdownTable tr:nth-child(even), .summaryTable tr:nth-child(even), .dependencyTable tr:nth-child(odd) {
  background-color: #D6EEEE;
}

td {
  text-align: center;
}

.failed { 
  background-color:#c92626; 
}

.error {
  background-color:#c92626; 
}

.skipped { 
  background-color:#c97a26; 
}

.passed { 
  background-color:#26c954;
}

.testName {
  text-align: left;
}

.traceback {
  font-family: monospace;
  white-space: pre;
}