QTableWidget, QTreeWidget,QDockWidget, QHeaderView::section 
{
    border-style: none;
}

QHeaderView::section 
{
    border-style: none;
    padding-left: 5px;
}

QHeaderView::section:selected
{
    font-weight: black;
}
